# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
#PassengerAppRoot "/home/smts/public_html"
#PassengerBaseURI "/"
#PassengerNodejs "/home/smts/nodevenv/public_html/20/bin/node"
#PassengerAppType node
#PassengerStartupFile vite.config.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
