

.home_partnership {
    margin: 36px;
    
    h2 {
        text-align: center;
        line-height: 110%;
    }
    
    h5 {
        text-align: center;
        max-width: 600px;
        margin: 24px auto;
    }
}