
/* MEET THAD SECTION */

.meet_thad {
    width: 100%;
    max-width: 1000px;
    padding: 0 24px;
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    * { 
        transition: all 200ms ease;
    }
    
    img {
        margin: 16px 0;
        height: 200px;
        width: 200px !important;
        border: 8px double var(--blue);
        border-radius: 50%;
    }
    
    h2, h4, h5 {
        text-align: center;
        padding: 0 16px;
    }

    h2 {
        line-height: 100%;
    }

    
    p {
        max-width: 550px;
        padding: 16px;
    }
}

@media only screen and (min-width: 850px) {
    .meet_thad {
        margin: 48px 0;
        flex-direction: row;
        justify-content: space-evenly;

        img {
            height: 250px;
            width: 250px !important;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .meet_thad {

        img {
            height: 325px;
            width: 325px !important;
        }
    }
}