
/* MEET THAD SECTION */

.meet_thad {
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
        margin: 16px 0;
        height: 200px;
        width: 200px;
        border: 8px double var(--blue);
        border-radius: 50%;
    }
    
    h2 {
        text-align: center;
    }
    
    p {
        max-width: 650px;
        padding: 16px;
    }
}

@media only screen and (min-width: 559px) {
    .meet_thad {
        flex-direction: row;
        gap: 36px;
    }
}