/* MAIN STYLES PAGE */
/* This style page holds the root styles, fonts, body, main and footer/nav styles */
/* ALL other styles will be imported into their sub components */

/* IMPORT FONTS HERE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); /* Import is correctly placed */

/* DEFINE GLOBAL VARIABLES */
:root {
  --base: 16px;
  --red: #aa2b34;
  --white: #DDDDE0;
  --blue: #3C3B6E;
  --black: #3C3B6E;
  --background: #DDDDE0
}

/* STYLE RESET */
html, body, * {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Poppins', sans-serif;
  word-spacing: .097rem;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FONT SIZE VARIALBE - this will be used if we add in accessability features such as 'larger text' */
html {
  font-size: var(--base);
}

/* FLEXIBLE CONTENT WRAPPER - This sets up the flex grow in the 'main' component */
.app_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  background-color: var(--background);
  overflow-x: hidden;
}



/*                        */
/* STANDARDIZE FONT SIZES */
/*                        */
h1, h2, h3, h4, h5, h6, p, a {
  transition: all 300ms ease;
  color: var(--black);
}

h1 { font-size: 1.75rem; }
h2 { font-size: 1.25rem; }
h3 { font-size: 1.1rem; }
h4 { font-size: 1.0rem; }
h5 { font-size: 0.9rem; }
p { font-size: 0.85rem; }

a {
  font-size: 0.85rem;
  
  &:hover {
    color: var(--blue);
  }
}

/* SCREEN SIZES ABOVE 500 */
@media (min-width: 500px) {
  h1 { font-size: 2.25rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.375rem; }
  h4 { font-size: 1.125rem; }
  h5 { font-size: 1rem; }
  p { font-size: 1.1rem; }
  a { font-size: 1.1rem; }
}

/* SCREEN SIZES ABOVE 1200 */
@media (min-width: 1200px) {
  h1 { font-size: 2.8rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.58rem; }
  h4 { font-size: 1.295rem; }
  p { font-size: 1.265rem; }
  a { font-size: 1.265rem; }
}
/*                            */
/* END STANDARDIZE FONT SIZES */
/*                            */



/*                      */
/* VISABILITY UTILITIES */
/*                      */

/* Hides mobile-specific elements on larger screens */
@media only screen and (min-width: 560px) {
  .mobile_only {
    display: none !important; 
  }
}

/* Hides desktop-specific elements on small screens */
@media only screen and (max-width: 559px) {
  .desktop_only {
    display: none !important; 
  }
}
/*                          */
/* END VISABILITY UTILITIES */
/*                          */



/*                   */
/* NAVIGATION STYLES */
/*                   */
nav {
  height: 120px;
  padding: 0 24px;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .nav_header {
    display: flex;
    align-items: center;
    gap: 16px;
    
    img {
      height: 80px;
      background-color: var(--white);
      border-radius: 50%;
      padding: 2px;
    }
    
    h1 {
      color: var(--white);
      line-height: 100%;
    }
  }
  
  .nav_links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    ul {
      display: flex;
      justify-content: space-between;
      gap: 0 12px;
      
      a {
        color: var(--white);
        
        &:hover {
          color: red;
        }
      }
    }
    
    p {
      font-size: 0.65rem;
      text-align: end;
      color: var(--white);
    }
  }
}

@media only screen and (max-width: 770px) {
  .nav_header h1 {
    display: none !important; 
  }
}

@media only screen and (min-width: 980px) {
  .nav_header br {
    display: none !important; 
  }
}
/*                       */
/* END NAVIGATION STYLES */
/*                       */



/*               */
/* FOOTER STYLES */
/*               */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 24px;
  background-color: var(--blue);
  
  img {
    height: 80px;
    background-color: var(--white);
    border-radius: 50%;
    padding: 2px;
  }
  
  .footer_links_container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    
    a {
      color: var(--white);
      
      &:hover {
        color: red;
      }
    }
    
    ul:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 36px;
      
      li {
        line-height: 100%;
      }
    }
    
    ul:nth-child(3) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px 8px;
      
      li {
        line-height: 100%;
        
        p {
          color: var(--red);
          font-size: 0.8rem;
          vertical-align: middle;
          font-weight: bold;
        }
        
        a {
          font-size: 1rem;
        }
      }
    }
    
    hr {
      border: none;
      height: 2px;
      width: 100%;
      background-color: var(--red);
      margin: 0 auto;
    }
  }
}

.footer_hidden_div {
  visibility: hidden;
  width: 100px;
}

@media only screen and (min-width: 500px) {
  footer {
    flex-direction: row;
    gap: 0;
    padding: 24px  24px  12px;
    
    .footer_links_container {
      gap: 8px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .footer_hidden_div {
    display: none;
  }
}
  /*                   */
  /* END FOOTER STYLES */
  /*                   */